*{box-sizing: border-box;}
body{background-color: #68b831;
	margin: 0; }
h1{color: white;
	font-size: 3.5em;
	font-family: montserrat;
	text-align: center;
	background-color: #131c21;
	padding: 20px;
	margin: 0 0 50px 0;
	font-weight: 100;}
table{background-color: #F2F2F2; 
		width: 85%;
		padding: 20px;
		border-radius: 10px;
		margin-bottom: 25px;	 
		box-shadow: 20px 20px 25px rgb(0, 0, 0, 0.16);}
.field{font-size: 2.5em;
	border: 0px solid red;
	font-family: monda;
	width: 100%;
	padding: 20px;
	border-radius:5px;
	box-shadow: 15px 12px 10px rgb(0, 0, 0, 0.10);}
::placeholder {
  color: #9C9494;
  opacity: 1;
}
#address_field{border:0px solid blue;
			height: 250px;
			}
.enter{border:0px solid blue;
		width: 60%;}
#mobile_number{border: 0px solid yellow;
				width: 70%;}
#number_code{width: 25%;
			margin-right: 5%;}
.click_buttons{font-size: 2em;
				font-family: montserrat;
				background-color:  #131c21;
				color: white;
				border-radius: 200px;
				padding: 40px;
				text-align: center;
				width: 40%;
				margin: 30px 0 0 0;
				box-shadow: 15px 12px 40px rgb(0, 0, 0, 0.10);}
